html, body { 
  background: url('../../../../uploads/2020/04/background.svg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
}
.bit-main {
	background: transparent;
	background-image: url('../../../../uploads/2020/04/bitfyrelogo.svg');
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 155px;
	@include breakpoint (sm) {
		min-height: 420px;
	}
}

